body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#footer{
	width:100%;
	text-align: center;
	cursor:pointer;
	height:50px;
	vertical-align: middle;
	background: #cef;
	position: fixed;
	bottom: 0px;
}

td{
	border:1px solid #000;
}

td:hover{
	background: #eef;
}

.btn-return{
	padding-right:20px;
}

.goods-plate{
	display:inline-block;
	width:30%;
	border: 1px solid #ddd;
}

.goods-plate img{
	width:100%;
}

.goods-plate p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}